*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: darkslategrey;
}
.Navbar{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    
}
input{
    border-radius: 20px;
    padding: 6px;
}



 .item a{
    font-size: 15px;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 50px;
    background-color: #fff;
    padding: 8px;
    
    
}


.heading{
    display: block;
    color: #fff;
    margin-left: 20px;
    margin-top: 60px;
}
h1{
    padding: 10px;
}


.father{
    display: flex;
    margin: 100px 50px 50px 50px;
}
.details{
    display:flex;
    margin-left: 200px;
    box-sizing: content-box;
    border: 3px solid #fff;
    border-radius: 30px;
    padding: 3%;
    color: #fff ;
}


img{
    height: 350px;
    width: 70%;
    margin-left: 10px;
}